<div class="flex space-x-4 h-[40rem] mt-5 ml-3">
    <div class="flex flex-col h-full">

        <input type="range" name="zoom" min="0" max="15" class=" w-full" [(ngModel)]="zoom" />
        <div class="flex justify-center p-2">
            <button 
            class="bg-cyan-600 text-white py-2 px-6 rounded-lg hover:bg-cyan-400"
            [routerLink]="['/tabla']">
                Tabla
            </button>
        </div>
        <div class="divide-y h-full overflow-auto pr-4">
        @for (locacion of ubicacion; track $index) {
            <div class="max-w-md text-gray-700 cursor-pointer" aria-hidden="true" (click)="irUbicacion(locacion, $index)">
                <div class="flex flex-col pb-3">
                    <dt class="mb-1 text-gray-500 md:text-lg 0"> {{ locacion.nombre}} </dt>
                    <dd class="text-lg font-semibold "> {{ locacion.temperatura_actual }} °C </dd>
                </div>
            </div>
        }
        </div>
    </div>
    <div class="w-4/5">
        <div class="w-full h-full">
            <google-map
            mapId="654e450adb5cbb9c"
            height="100%"
            width="100%"
            [zoom]="zoom()"
            [center]="center">

            @for (locacion of ubicacion; track $index) {
                <map-advanced-marker
                    #marker="mapAdvancedMarker"
                    (mapClick)="openInfoWindow(locacion, marker)"
                    [position]="{ lat: locacion.latitud, lng: locacion.longitud }"
                    >
                </map-advanced-marker>
            }

            @if (currentLocation) {
                <map-advanced-marker
                #marker="mapAdvancedMarker"
                [position]="currentLocation"
                (mapClick)="openMyLocationWindow(marker)">
                </map-advanced-marker>
            }
            <map-info-window>{{ infoContent }}</map-info-window>   
            </google-map>   
        </div>
    </div>
</div>
